/* cards */
.blogs {
  padding: 2rem 4% 0;
}
.blogs .heading {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Roboto";
}
.blogs .box-container {
  padding: 0 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* display: flex;
    flex-wrap: wrap; */
  max-width: 100%;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}
.blogs .box-container .box {
  /* flex:1 1 15rem; */
  padding: 1rem 2%;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  background: var(--color-primary);
}
.blogs .box-container .box .image {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.blogs .box-container .box .image img {
  height: 200px;
  /* object-fit: cover; */
  filter: contrast(2);
  padding: 1rem;
}

.blogs .box-container .box h3 {
  font-family: "Roboto";
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.blogs .box-container .box:hover {
  box-shadow: var(--box-shadow);
  transition: 0.2s ease-in-out;
}

/* section post */
.post {
  padding: 2rem 4% 0;
}
.heading {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Roboto";
}
.post-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
}
.post-box {
  flex: 1 1 20rem; /* SE DEIXAR O FLEX SHIRNK 0 E FLEX BASICS IGUAL A LARGURA IMAGEM FICA BACANA */
  border-radius: 0.5rem;
  font-weight: 700;
  /* margin: 0 auto; obs: centraliza mais */

  padding: 1rem 2%;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  background: var(--color-primary);
}
.post-box:hover{
  box-shadow: var(--box-shadow);
  transition: 0.2s ease-in-out;
}
.img-box {
  width: 100%;
  height: auto;
  overflow: hidden;

}
.img-box .post-image {
  display: block;
  height: 200px;
  /* object-fit: cover; */
  filter: contrast(2);
  padding: 1rem;
  margin: 0 auto;

}
span{
  font-family: "Roboto";
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}