.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4%;
  box-shadow: 1px 4px 15px #d9d9d9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header.shadow {
  background: var(--blue-clear);
  transition: 0.5s;
}
.header a img {
  width: 6rem;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: 1.2rem;
  font-family: "Roboto";
  color: var(--white);
}
.header .navbar a:hover {
  text-decoration: underline;
  color: var(--azul-claro);
}
#menu-btn{
    display: none;
    font-size:1.2rem;
    color: var(--black);
    cursor: pointer;
    color: var(--white)
}
